body {
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/bac.jpg);
    background-size: contain;
    background-origin: padding-box;
    display: flex;


}

ul {
    list-style-type: none;
}

#text {
    background-color: #00D1AE;
    /* border: 1px solid #17212e; */
    justify-content: center;
    align-content: center;
    margin: 6em auto;
    padding: 50px;
    text-align: center;
}
